<div class="container">

  <div class="row">

    <div class="col">

      <div class="card">

        <div class="card-header">
          <div class="d-flex">

            <div class="d-flex">
              {{title}}
            </div>

            <div class="ml-auto">
              <select *ngIf="isAdmin || isEditor" select class="form-control" (change)="onChange($event)">
                <option value="tasks"> Tasks</option>
                <option value="all"> All</option>
              </select>

            </div>

          </div>
        </div>

        <div class="table-wrapper-scroll-y my-custom-scrollbar">
          <table class="table mb-0 table-hover">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">ISSN</th>
              <th scope="col">Name</th>
              <th scope="col">Active</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let task of tasks; let i = index">
              <td>{{i + 1}}</td>
              <td>{{task.variable.magazine.issn}}</td>
              <td>{{task.variable.magazine.name}}</td>
              <td>{{task.variable.magazine.active}}</td>
              <td>
                <button class="btn" type="button" (click)="viewDetails(task.variable.magazine);" data-toggle="modal"
                        data-target="#exampleModal"><i
                  class="fas fa-eye"></i></button>
              </td>
              <td>
                <button *ngIf="isAdmin && !showAll" class="btn" type="button" (click)="submitApproval(task,true);"><i
                  class="fas fa-check"></i></button>
              </td>
              <td>
                <button *ngIf="isAdmin && !showAll" class="btn" type="button" (click)="submitApproval(task,false);"><i
                  class="fas fa-times"></i></button>
              </td>
              <td>
                <button *ngIf="!isAdmin && !showAll" class="btn" type="button" (click)="editMagazine(task);"
                        data-toggle="modal" data-target="#exampleModal"><i class="fas fa-edit"></i></button>
              </td>


            </tr>
            </tbody>
          </table>
        </div>


      </div>


    </div>


  </div>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div *ngIf="view" class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{magazineName}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">


          <div *ngIf="view">
            <h6 class="text-center">Main editor</h6>

            <p class="text-center">{{mainEditor.firstName}} {{mainEditor.lastName}} </p>


            <h6 class="text-center">Fields</h6>

            <table class="table mb-0">
              <thead>
              <tr>
                <th scope="col">Name</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let field of fields ">
                <td>{{field.name}} </td>
              </tr>
              </tbody>
            </table>

            <h6 class="text-center">Editors</h6>

            <table class="table mb-0">
              <thead>
              <tr>
                <th scope="col">Name</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let editor of editors ">
                <td>{{editor.firstName}} {{editor.lastName}} </td>
              </tr>
              </tbody>
            </table>


            <h6 class="text-center">Reviewers</h6>

            <table class="table mb-0">
              <thead>
              <tr>
                <th scope="col">Name</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let reviewer of reviewers ">
                <td>{{reviewer.firstName}} {{reviewer.lastName}} </td>
              </tr>
              </tbody>
            </table>

            <h6 class="text-center">Payment types</h6>

            <table class="table mb-0">
              <thead>
              <tr>
                <th scope="col">Name</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let pay of payments ">
                <td>{{pay.name}}</td>
              </tr>
              </tbody>
            </table>
          </div>

          <div *ngIf="edit">
            <app-magazine [magazine]="magazine" [processId]="processId"></app-magazine>
          </div>

        </div>
        <div *ngIf="view" class="modal-footer">
          <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


</div>
