/* You can add global styles to this file, and also import other style files */
.no-border {
  border: 0;
  outline: 0;

}

.navPar {
  font-size: 20px;
}

.navPar :hover {
  color: rgb(105, 101, 101);
}

.hrefColor {
  color: rgb(36, 39, 41);
}
